*{
    margin: 0;
    box-sizing: border-box;
}
.box{
    height: 200px;
    width: 400px;
    border: 1px solid;
    background-color: antiquewhite;
    font-size: 50px;
    color: burlywood;
    display: flex;
    flex-wrap: wrap;
}
.navbar{
    height: 100px;
    background-color:black;  
}
a{
    text-decoration: none;
    color: white;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
@media(max-width:370px) {
    .navbar{
        width: 400px;
    }
    
}